extends layout

block content
	.buffer
	.showDiv
		.innerContainer
			.ui.segment.show
				h3.ui.huge.header.centered= brand.name
				.image
					img(src=brand.image).ui.centered.medium.image.rounded
				.description
					p= "I currently rank this at " + brand.rank + "/10"
				.item.about
					p= brand.about
				.ui.comments#commentList
					.ui.dividing.header Comments
					each comment in brand.comments
						p= comment.author.username
						p= comment.text
						.meta
							span.cinema= brand.created.toDateString()
						hr
				form(action="/brands/"+brand._id+"/comments" , method="POST").ui.reply.form
					.field
						button.ui.orange.labled.submit.button.addComment Add Comment
					.field
						textarea(placeholder="Leave a Comment!", name="comment[text]")
	.buffer

				
				
