extends layout

block content
	.ui.segment
		h3.ui.huge.header.centered= brand.name
		.image
			img(src=brand.image).ui.centered.medium.image
		.description
			p= "I currently rank this at " + brand.rank + "/10"
		.ui.comments
			.ui.dividing.header Comments
			for com in brand.comments
				p= com
				.meta
					span.cinema= brand.created.toDateString()
				hr

					